body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    background-color: #FCF9E4;
}

h1 {
    background-color: #C4495C;
    margin-bottom: 65px;
    padding: 20px;
    border-style: solid;
    color: black;
    text-align: center;
    border-radius: 25px;
}

h2 {
    background-color: #D8B241;
    padding: 10px 100px;
    border-radius: 25px;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

#leftSide {
    color: #555;
    text-align: center;
}

#instructions {
}

#leaderboard {
    margin-top: 30px;
}

#instructions p {
    padding: 20px 0px;
    background-color: #1DB0B5;
    font-weight: bold;
    margin: 0px 30px 10px 30px;
    border-radius: 25px;
}

#map {
    height: 800px;
    width: 700px;
    border: 1px solid #ccc;
    border-radius: 25px;
    text-align: left;
}

.questionArea {
    color: #555;
    width: 330px;
    text-align: center;
}

p {
    margin:0;
}

.questionArea p:nth-child(even) {
    padding: 10px 0px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 0px 0px 25px 25px;
}

.questionArea p:nth-child(odd) {
    padding: 10px 0px;
    background-color: #7EAC99;
    font-weight: bold;
    text-align: center;
    border-radius: 25px 25px 0px 0px;
}

button {
    padding: 15px 25px;
    border: solid black 3px;
    border-radius: 25px;
    cursor: pointer;

    font-size: 16px;
    font-weight: bold;
}

#startBtn {
    background-color: #6c74db;
    margin-bottom: 20px;
}

#startBtn:active {
    background-color: #4f59d4;
}

#resetBtn {
    display: none;
    background-color: #C0415E;
    margin-top: 20px;
}

#resetBtn:active {
    background-color: #a3364f;
}

#scoreParagraph {
    display: none;
    margin-top: 25px;
}

#score {
    display: none;
    background-color: #D8B241;
}