body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    background-color: #FCF9E4;
}

h1 {
    background-color: #C4495C;
    margin-bottom: 65px;
    padding: 20px;
    border-style: solid;
    color: black;
    text-align: center;
}

h2 {
    background-color: #D8B241;
    padding: 10px 100px;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

#instructions {
    color: #555;
    text-align: center;
}

#instructions p {
    padding-bottom: 20px;
}

#map {
    height: 800px;
    width: 700px;
    border: 1px solid #ccc;
    text-align: left;
}

.questionArea {
    color: #555;
    width: 330px;
    text-align: center;
}

p {
    margin:0;
}

.questionArea p:nth-child(even) {
    padding: 10px 0px;
    margin-bottom: 10px;
    text-align: center;
}

.questionArea p:nth-child(odd) {
    padding: 10px 0px;
    background-color: #7EAC99;
    font-weight: bold;
    text-align: center;
}